{% extends 'core/base.html' %}

{% block content %}
  <div class="container mt-5">
      <div style="text-align: center;"><h2>Employee List</h2></div><br>
        <div style="text-align: center;"><div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{ request.user.first_name }}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
          </div>
        </div>

      <a class="btn btn-primary m-5" href="{% url 'add_employee' %}" role="button">Add Employee</a>

      <a class="btn btn-outline-dark m-5" href="{% url 'payment' %}" role="button">Pay</a>


        {% if employees.count <= 0 %}
        <div style="text-align: center;"><h4>No records found</h4></div>

        {% else %}

        <table class="table">
              <thead>
                <tr>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Mobile Number</th>
                    <th scope="col">Department</th>
                  <th scope="col">Address</th>
                  <th scope="col">Pin code</th>
                </tr>
              </thead>
              <tbody>
                {% for employee in employees %}
                <tr>
                  <th><a href="{{ employee.get_absolute_url }}">{{ employee.first_name }}</a></th>
                  <th><a href="{{ employee.get_absolute_url }}">{{ employee.last_name }}</a></th>
                  <th>{{ employee.mobile_no }}</th>
                  <th>{{ employee.department }}</th>
                    <th>{{ employee.address }}</th>
                    <th>{{ employee.pincode }}</th>
                    <th><a class="btn btn-primary" href="{% url 'edit_employee' employee.id %}" role="button">Edit</a></th>

                    <form method="post" action="{% url 'delete_employee' employee.id %}">
                        {% csrf_token %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                  {{ message|safe }}
                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <th><button class="btn btn-danger" type="submit" >Delete</button></th>
                    </form>
                </tr>
                {% endfor %}
              </tbody>
        </table>
        {% endif %}
  </div>

{% endblock %}
